.container {
  max-width: 80vw;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.profileWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileTextWrapper {
  font-size: 1.25rem;
}

.profileImage {
  border-radius: 50%;
}

.profileNameText {
  font-size: 1.25rem;
}

